.footer {
    margin-top: 3rem;
    background-color: rgb(51, 199, 199);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer-p {
    padding:5px;
    font-size: 1rem;
}